@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "tailwindcss";

@theme {

  --font-Family: "Ubuntu", sans-serif;
  --color-azul: #062B5A;
  --color-BlueOne: #adbeff;
  --color-BlueTwo: #EEF5FF;
  --color-Red: #ed3548;
  --color-Purple: #473dff;
  --color-Gray: ​#969696;
  --color-Gray1: ​#d6d9e6;
  --color-Gray2: #f0f5ff;
  --color-Gray3: #fafbff;
  --text-Normal: 16px;
}

@layer components {

  .btnStep {
    @apply bg-azul text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring ml-auto cursor-pointer hover:bg-azul/70 transition-all duration-300;
  }

  .btnBack {
    @apply text-gray-400  py-2 px-4 rounded focus:outline-none focus:ring cursor-pointer hover:text-azul transition-all duration-300;
  }

  .tagH2 {
    @apply text-azul font-bold text-3xl mb-2;
  }

  .parrafoInfo {
    @apply text-azul/50 text-lg mb-6;
  }

  .label {
    @apply text-azul font-extralight mb-2;
  }


}

* {
  font-family: var(--font-Family);
}